﻿@{
    Layout = "_Layout";
}
<style>
    .bg-image{
        background-image: url('facebook background pic.jpg')
    }
</style>
<div id="header-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <h1>
                    <strong> THE DESIGN COMPANY</strong>
                </h1>
                <br /> <br /> <br />
                <h2> GO LIVE </h2>
                <br />
                <h3>  EXPLORE<a href="#about-section">  <i class="fa fa-flask down-icon"></i> </a> AWESOME </h3>
                <br /><br />
            </div>
        </div>

    </div>

</div>
