﻿@{
    Layout = "_Layout";
}
<br />
<head >
@*     <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
 *@</head>
<body>
    <img src="~/css/facebook.jpg" alt="My Image" width="1300" height="500" />
</body>

